<!DOCTYPE html>
<html lang="en">
<head>
    <title>TermiCron Bundle Builder</title>
    {{> fragments/style}}
</head>
<body>
<div class="pure-g grid-wrapper">
    <div class="pure-u-1">
        <h1>TermiCron Bundle Builder</h1>
        <h2>Step 1: Enter the endpoints to query.</h2>
    </div>
</div>
</body>
</html>