<!DOCTYPE html>
<html lang="en">
<head>
    <title>TermiCron Bundle Builder</title>
    {{> fragments/style}}
    <style>
        .group-endpoint {
            margin-bottom: 3pt;
        }
        .endpoint-label {
            width: 100%;
            height: 100%;
            display: table;
            text-align: end;
        }
    </style>
    <!--suppress ES6ConvertVarToLetConst -->
    <script type="text/javascript">
        var numberOfEndpoints = 0;
        $(document).ready(function () {

            $('#addEndpoint').click(function () {
                appendEndpoint("");
            });
        })

        function appendEndpoint(defaultValue = "") {
            let id = numberOfEndpoints + 1;
            $("#group-endpoints").append(`
             <div class="pure-u-1 group-endpoint" id="group-endpoint-${id}">
                <div class="pure-u-4-24">
                    <label for="endpoint-${id}" class="endpoint-label">Endpoint ${id}</label>
                </div>
                <div class="pure-u-12-24">
                    <input type="text" id="endpoint-${id}" value="${defaultValue}" name="endpoint-${id}" class="input-endpoint pure-input-1">
                </div>
                <div class="pure-u-4-24">
                    <input type="button" class="pure-button button-warning" value="Remove"
                       onclick="handleRemoveEndpointClick('group-endpoint-${id}')">
                </div>
            </div>
             `);
            numberOfEndpoints++;
        }

        function handleRemoveEndpointClick(id) {
            $('#' + id).remove();
            numberOfEndpoints = 0;
            let nodes = $("#group-endpoints").find("input.input-endpoint");
            let values = [];
            for (const currentNode of nodes) {
                values.push($(currentNode).val());
            }
            $("#group-endpoints").empty();
            for (const newNodeValue of values) {
                appendEndpoint(newNodeValue)
            }
        }
    </script>
</head>
<body>
<div class="pure-g grid-wrapper">
    <div class="pure-u-1">
        <h1>TermiCron Bundle Builder</h1>
        <h2>Step 1: Enter the endpoints to query.</h2>
    </div>
    <div class="pure-u-1">
        <!--suppress HtmlUnknownTarget -->
        <form class="pure-form pure-g" method="POST" action="query" id="form-endpoints">
            <div id="group-endpoints" class="pure-u-1">
                {{#defaultServers}}
                    <script type="text/javascript">
                        appendEndpoint("{{url}}")
                    </script>
                {{/defaultServers}}
            </div>
            <div class="pure-u-1 pure-control-group" id="group-add-submit">
                <input type="button" class="pure-button button-secondary" id="addEndpoint"
                       value="Add Endpoint">
                <input type="submit" class="pure-button pure-button-primary" value="Continue...">
            </div>
        </form>
    </div>
</div>
</body>
</html>